* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('assets/Navigation-Coordinates.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.coordinate-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    padding: 10px;
    border-radius: 8px;
}

.input-box {
    width: 70px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid;
}

.input-box::placeholder {
    color: #fff;
}

.red {
    background-color: rgba(255, 0, 0, 0.4);
    /* Red semi-transparent */
    border-color: rgba(255, 0, 0, 1);
    /* Solid red border */
}

.blue {
    background-color: rgba(0, 0, 255, 0.4);
    /* Blue semi-transparent */
    border-color: rgba(0, 0, 255, 1);
    /* Solid blue border */
}

.green {
    background-color: rgba(0, 255, 0, 0.4);
    /* Green semi-transparent */
    border-color: rgba(0, 255, 0, 1);
    /* Solid green border */
}

.hint {
    font-size: 20px;
    color: #d3dfff;
    text-shadow: 0 0 1px #9c9cb6, 0 0 5px #d3dfff;
    margin-top: 50px;
}